django<1.10
django-debug-toolbar<1.5

# Distributed Task Queue
celery<3.2
redis<2.11

# Modified Preorder Tree Traversal for Django Models
django-mptt==0.9.1

# User notification for Django
django-notifications-hq<1.2