django<1.10
django-debug-toolbar<1.5

# django html5 multiuplod
django-multiupload<0.6

# Modified Preorder Tree Traversal for Django Models
django-mptt<0.9

# User notification for Django
django-notifications-hq<1.2