django==2.1
django-debug-toolbar==1.9.1

# Distributed Task Queue
celery==4.2.1
redis<2.11

# Modified Preorder Tree Traversal for Django Models
django-mptt==0.9.1

# User notification for Django
django-notifications-hq==1.5.0