{% load staticfiles %}
{% load notifications_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link href="{% static 'task_management/css/style.css' %}" rel="stylesheet">

    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'task_management/js/notification.js' %}" type="text/javascript"></script>
</head>
<body>
    {% block notification %}
        {% autoescape off %}
            {% notifications_unread as unread_count %}
{#            {% if unread_count %}#}
                <h3>Notifications {% live_notify_badge %}:</h3>
                {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
                {% live_notify_list %}
{#            {% endif %}#}
        {% endautoescape %}
        <br>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>