{% extends 'task_management/base.html' %}

{% block content %}
    <h1>Task detail view</h1>
    <a href="{% url 'task_management:list' %}">Task list</a>
    <ul>
        <li><a href="{% url 'task_management:update' pk=object.pk %}">Edit task</a></li>
        <li><a href="{% url 'task_management:delete' pk=object.pk %}">Delete task</a></li>
    </ul>

    <h2>Task details:</h2>
    <ul>
        <li>Title: {{ task.title }}</li>
        <li>description: {{ task.description }}</li>
        <li>Creator: {{ task.creator }}</li>
        <li>Owner: {{ task.owners.last.user }}</li>
        <li>Status: {{ task.get_status_display }}</li>
        <li>Criticality: {{ task.get_criticality_display }}</li>
        <li>Date due: {{ task.date_due }}</li>
        <li>Time create: {{ task.time_create }}</li>
        <li>Time update: {{ task.time_update }}</li>

        <li>Attachments:
            <ul>
                {% for file in task.attachments.all %}
                    <li><a href="{{ file.attachment.url }}">{{ file.attachment.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}