{% extends 'task_management/base.html' %}

{% block content %}
    <h1>Task list</h1>
    <a href="{% url 'task_management:create' %}">Create task</a>

    <h2>Created by me:</h2>
    <ul>
        {% for task in task_created %}
            <li><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Assigned to me:</h2>
    <ul>
        {% for task in tasks_assigned %}
            <li><a href="{{ task.get_absolute_url }}">{{ task.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}