{% extends 'task_management/base.html' %}
{% load mptt_tags %}

{% block content %}
    <h1>Task list</h1>
    <div><a href="{% url 'task_management:create' %}">Create task</a></div>
    <div><a href="{% url 'task_management:action_log' %}">Action logs</a></div>

    <h2>Tasks:</h2>
    {% for tree in task_trees %}
        {% for task, structure in tree|tree_info %}
            {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
                <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
                {% if task.owner %}
                    (assigned to {{ task.owner }})
                {% endif %}
            {% for level in structure.closed_levels %}</li></ul>{% endfor %}
        {% endfor %}
    {% endfor %}

{% endblock %}