{% extends 'task_management/base.html' %}
{% load mptt_tags %}

{% block content %}
    <h1>Task detail view</h1>
    <a href="{% url 'task_management:list' %}">Task list</a>
    <ul>
        {% if user == object.creator or user == object.owner and object.owner_accept_task %}
            <li><a href="{% url 'task_management:update' pk=object.pk %}">Edit task</a></li>
            <li><a href="{% url 'task_management:sub_task_create' pk=object.pk %}">
                Sub task create
            </a></li>
        {% endif %}
        {% if user == object.creator %}
            <li><a href="{% url 'task_management:delete' pk=object.pk %}">Delete task</a></li>
        {% endif %}
        {% if user == object.owner and object.owner_accept_task == None %}
            <li><a href="{% url 'task_management:accept' task_pk=object.pk %}">
                Accept task
            </a></li>
            <li><a href="{% url 'task_management:reject' task_pk=object.pk %}">
                Reject task
            </a></li>
        {% endif %}
    </ul>

    <h2>Task details:</h2>
    {% if task.parent %}
        Parent task: <a href="{{ task.parent.get_absolute_url }}">
            {{ task.parent.title }}
        </a>
    {% endif %}
    <ul>
        <li>Title: {{ task.title }}</li>
        <li>description: {{ task.description }}</li>
        <li>Creator: {{ task.creator }}</li>
        <li>Owner: {{ task.owner }}</li>
        <li>Status: {{ task.get_status_display }}</li>
        <li>Criticality: {{ task.get_criticality_display }}</li>
        <li>Date due: {{ task.date_due }}</li>
        <li>Time create: {{ task.time_create }}</li>
        <li>Time update: {{ task.time_update }}</li>

        <li>Attachments:
            <ul>
                {% for file in task.attachments.all %}
                    <li><a href="{{ file.attachment.url }}">{{ file.attachment.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <h3>Assign to:</h3>
    <ul class="root">
        {% recursetree task_assigned_to %}
            <li>
                user: {{ node.user }} - {{ node.assign_accept|yesno:"Accept,Reject,Pending" }} task
                {% if node.assign_description %}
                    ({{ node.assign_description }})
                {% endif %}
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

    {% include 'task_management/comment_list.html' %}
    {% include 'task_management/comment_form.html' %}

{% endblock %}